@model CrudProyect.Models.Contact

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Contacto</h2>

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Eliminar contacto</h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    ¿Desea eliminar el contacto @Html.DisplayTextFor(m => m.Firstname)  @Html.DisplayTextFor(m => m.Lastname) ?
                </div>
                <form action="@Url.Action("Delete","Contact")" method="post">
                    <input type="hidden" class="form-control" name="IdContact" value="@Html.DisplayTextFor(m => m.IdContact)" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-warning" href="@Url.Action("Index","Contact")">Volver atrás</a>
                </form>
            </div>
        </div>
    </div>
</div>